body{
	background-color: MidnightBlue;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
	margin-top: 5%;
}

#conteiner{
	display: grid;
	grid-template-columns: 300px;
	grid-template-rows: 500px, 100px, 100px, 100px;
	background-color: rgb(68, 114, 196);
	color: GhostWhite;
	border: 1px solid rgb(47, 82, 143);
	width: 300px;
	height: 300px;
	justify-content: center;
	text-align: center;
	margin-left: 39%;
}

#div1{
	display: flex;
	grid-row: 1;
	margin-top: 1px;
	border: 1px solid DarkSlateGrey;
	justify-content: center;
	align-items: center;
}

#div2{
	margin-top: 30px;
	grid-row: 2;
}

#div3{
	margin-top: 15px;
	grid-row: 3;
}

#div4{
	grid-row: 4;
	color: black;
}

#calcular{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
	background-color: rgb(176, 210, 160);
	width: 125px;
	height: 50px;
}

#input1{
	width: 125px;
	height: 40px;
}

#input2{
	width: 125px;
	height: 40px;
}

#div5{
	background-color: white;
	width: 300px;
	text-align: center;
	margin-left: 39%;
	border: 1px solid black;
}

#area{
	resize: none;
	width: 255px;
	height: 90px;
	margin: 10px;
}